.hp-animate {
	animation-timing-function: cubic-bezier(0.25,0.1,0.25,1) !important;
}
.bg-whitesmoke {
	background-color: whitesmoke;
}

.contentColors .q-icon {
	color:white;
}

.animat-frame-sm {
  max-width:480;
  max-height:300px;
  min-height:300px;
  z-index:35;padding:2px;
  overflow:hidden;
  border: white;
  border-radius:3px;display:flex;
}

.animat-frame-sm > canvas {
  background-color:rgba(255, 255, 255, 1.00);
  width:480px;
  height:320px;
  align-self:center;
  z-index: 30;
  transition: transform .5s;
}

.animat-frame-md {
  background-color:rgba(255, 255, 255, 1.00);
  width:640px;
  height:520px;
  align-self:center;
  z-index: 30;
  transition: transform .5s;
}

.animat-frame-md > canvas {
  background-color:rgba(255, 255, 255, 1.00);
  width:480px;
  height:320px;
  align-self:center;
  z-index: 30;
  transition: transform .5s;
}

.zoom-on-hover:hover > canvas {
  transform: scale(1.1);
  webkit-filter: blur(3px);
  filter: blur(3px);
}

.zoom-icon-container {
  opacity: 0;
  z-index: 31;
  -webkit-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -moz-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  -o-transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  transition: all 500ms cubic-bezier(.17,.67,.83,.67);
  background-color: rgba(255,255,255, 0.8);
}

.zoom-on-hover:hover .zoom-icon-container {
  background-color: rgba(0,0,0, 0.6);
  opacity: 1;
}


.actionButton .q-icon {
  font-size: 250% !important;
}